<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ChargePlan</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Zustand </h1>
    {% if state %}
    <p>Status: {{ state }} {% if allowCharging %} {{allowCharging}} {% endif %}</p>
    {% else %}
    <p> ERROR </p>
    {% endif %}
    {% if power %}
    <p>Aktuelle Ladeleistung: {{ power }} kW</p>
    {% else %}
    <p> Aktuelle Ladeleistung: 0.0 kW </p>
    {% endif %}
    {% if energy %}
    <p>Geladene Energie dieses Ladevorgangs: {{ energy }} kWh</p>
    {% else %}
    <p> Geladene Energie dieses Ladevorgangs: 0.0 kWh </p>
    {% endif %}
    {% if goal %}
    <p>Ziel-Zeitpunkt: {{ goal }}</p>
    {% else %}
    <p> Ziel-Zeitpunkt: keiner </p>
    {% endif %}
    {% if deadline %}
    <p>Deadline: {{ deadline }}</p>
    {% else %}
    <p> Deadline: keine </p
    {% endif %}
    
    {% endblock %}


  </body>
</html>