<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ChargePlan</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Zustand </h1>
    <table>
      <tr>
        <td>Status:</td>
        {% if state %}
          <td>{{ state }} {% if allowCharging %} {{allowCharging}} {% endif %}</td>
        {% else %}
          <td> ERROR </td>
        {% endif %}
      </tr>
      <tr>
        <td>Aktuelle Ladeleistung:</td>
        {% if power %}
          <td>{{ power }} kW</td>
        {% else %}
          <td>0.0 kW </td>
        {% endif %}
      </tr>
      <tr>
        <td>Geladene Energie dieses Ladevorgangs:</td>
        {% if energy %}
          <td>{{ energy }} kWh</td>
        {% else %}
          <td>0.0 kWh</td>
        {% endif %}
      </tr>
      <tr>
        <td>Ziel-Zeitpunkt:</td>
        {% if goal %}
          <td>{{ goal }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
      <tr>
        <td>Deadline:</td>
        {% if deadline %}
          <td>{{ deadline }}</td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
      <tr>
        <td>Maximale Ladeenergie:</td>
        {% if limitmaxenergy %}
          <td>{{ maxenergy }} kWh</td>
        {% else %}
          <td>unbegrenzt </td>
        {% endif %}
      </tr>
    </table>

    
    {% endblock %}


  </body>
</html>