<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Einstellungen </h1>

    {% if formPosted %}
    <p>Einstellungen gespeichert. Zurück auf <a href="{{ url_for('home') }}">Home</a></p>
    {% else %}
    <h2>Ziel-Zeitpunkt</h2>
    <form method="POST">
      <table>
        <tr>
          <td>Ziel-Zeitpunkt verwenden: </td><td><input type="checkbox" name="use_goal"></td>
        </tr>
        <tr>
          <td>Datum: </td><td><input type="date" placeholder="DD.MM.YYYY" name="goal_date"></td>
        </tr>
        <tr>
          <td>Zeit: </td><td><input type="time" placeholder="HH:MM" name="goal_time"></td>
        </tr>
        <tr>
          <td>Ladung automatisch beenden: </td><td><input type="checkbox" name="use_limit"></td>
        </tr>
        <tr>
          <td>Beenden nach (kWh): </td><td><input type="float" name="limit"></td>
        </tr>

      </table>
      <input type="submit" name="settings" value="Senden">
    </form>
    <h2>Sofort laden</h2>
    <form method="POST">
      <input type="submit" name="chargeInstantly" value="Jetzt sofort Laden">
    </form>
    {% endif %}
      
    {% endblock %}
  </body>
</html>